<swiper [centeredSlides]="true" [autoplay]="{ delay: 2500, disableOnInteraction: false}" [speed]="2000" [loop]="true">
  <ng-template swiperSlide><img src="../../../../assets/color_scheme.png" alt="test"></ng-template>
  <ng-template swiperSlide><img src="../../../../assets/random-image-display-using-javascript-2.png" alt="test"></ng-template>
  <ng-template swiperSlide><img src="../../../../assets/random-pic-internet-22.jpg.crdownload" alt="test"></ng-template>
  <ng-template swiperSlide><img src="../../../../assets/Random-Pictures-of-Conceptual-and-Creative-Ideas-02.jpg" alt="test"></ng-template>
  <ng-template swiperSlide><img src="../../../../assets/random.jpg" alt="test"></ng-template>
</swiper>